<!-- 
    @require "../static/header.css"
    @require "../static/header.js"
-->

<section id="navigation">
    <!-- <div id="home" class='orange'>首页</div> -->
    <div id="dataSum">数据总览</div>
    <div id="rateSale">门店统计</div>
</section>