<meta charset='utf-8'/><!-- 设置编码格式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> <!-- http头部设置参数,兼容IE,CHROME -->
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"> <!-- http头部设置参数,兼容IE,CHROME -->
<meta content="webkit" name="renderer"> <!-- 页面用极速核 -->
<title>销售总表</title>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.7/css/jquery.dataTables.css">
<!-- [if css placeholder] -->

